{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'core/images/about-img.png' %}" alt="">
          </div>  
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Sobre nosotros
              </h2>
            </div>
            <p>
              Somos expertos en el cuidado de tu vehículo, no importa la marca o modelo,
               manejamos un amplio catálogo de repuestos y servicios. Nuestros profesionales
                cuentan con basta experiencia para atender todos tus requerimientos </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
{% endblock content %}