{% extends 'core/base.html' %}
{% load static %}
{% block content %}

  <!--  Sección de tabla inicio -->
    <div class="container">
        <div class="container-xl">
            <div class="col-sm-6">
                <h2>Administración de Empleados</h2>
                <br>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <a class="nav-link" href="gestionarEmpleado.html">
                <button class="btn btn-success">Agregar Empleado</button>
              </a>
            </div>
            <div class="col-lg-4 offset-5">
              <form>
                <input type="search"  placeholder="RUN del Empleado sin DV" class="col-lg-8">
                <button class="btn   nav_search-btn" type="submit" class="col-lg-1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>

        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                <th style="text-align: center;" class="col-lg-2">RUN Empleado</th>
                <th style="text-align: center;" class="col-lg-1">Nombre Empleado</th>
                <th style="text-align: center;" class="col-lg-1">Correo Empleado</th>
                <th style="text-align: center;" class="col-lg-1">Sueldo</th>
                <th style="text-align: center;" class="col-lg-1">Tipo de Empleado</th>
                <th style="text-align: center;" class="col-lg-2">Detalles</th>
                <th style="text-align: center;" class="col-lg-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Inicio Boleta -->
                <tr style="vertical-align: middle;">
                    <td style="text-align: center;">11.686.945-6</td>
                    <td style="text-align: center;">Pedro Arancibia</td>
                    <td style="text-align: center;">Pe.arab@Serviexpress.cl</td>
                    <td style="text-align: center;">$650.000</td>
                    <td style="text-align: center;">Mecánico</td>
                    <td style="text-align: center;"><a href="gestionarEmpleado.html" class="btn btn-link">Detalles</a></td>
                    <td style="text-align: center;">
                        <a href="gestionarEmpleado.html" class="btn btn-link">Editar</a>
                        <a href="gestionarEmpleado.html" class="btn btn-link">Eliminar</a>
                    </td>
                </tr>
                <!-- Fin Boleta -->
            </tbody>
        </table>
    </div>
  <!-- Sección de Tabla fin -->

{% endblock content %}