{% extends 'core/base.html' %}
{% load static %}
{% block content %}

  <!--  Sección de tabla inicio -->
    <div class="container">
        <div class="container-xl">
            <div class="col-sm-6">
                <h2>Administración de Proveedores</h2>
                <br>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <a class="nav-link" href="gestionarProveedores.html">
                <button class="btn btn-success">Agregar Proveedor</button>
              </a>
            </div>
            <div class="col-lg-4 offset-5">
              <form>
                <input type="search"  placeholder="N° del pedido" class="col-lg-8">
                <button class="btn   nav_search-btn" type="submit" class="col-lg-1">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>

        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                <th style="text-align: center;" class="col-lg-1">ID proveedor</th>
                <th style="text-align: center;" class="col-lg-2">Nombre Proveedor</th>
                <th style="text-align: center;" class="col-lg-2">Correo Electrónico</th>
                <th style="text-align: center;" class="col-lg-2">Telefono Proveedor</th>
                <th style="text-align: center;" class="col-lg-3">Sucursal Proveedor</th>
                <th style="text-align: center;" class="col-lg-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Inicio Boleta -->
                <tr style="vertical-align: middle;">
                    <td style="text-align: center;"># 1</td>
                    <td style="text-align: center;">Toyota</td>
                    <td style="text-align: center;">proveedor@toyota.cl</td>
                    <td style="text-align: center;">9 56915689</td>
                    <td style="text-align: center;">Región Metropolitana, Maipú</td>
                    <td style="text-align: center;">
                        <a href="gestionarProveedores.html" class="btn btn-link">Editar</button>
                        <a href="gestionarProveedores.html" class="btn btn-link">Eliminar</button>
                    </td>
                </tr>
                <!-- Fin Boleta -->
            </tbody>
        </table>
    </div>
  <!-- Sección de Tabla fin -->

{% endblock content %}