{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div>
        <img src="{% static 'core/images/slider-img.png' %}"
        width="1200px" >
    </div>
    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Olvido su contraseña?</div>
            <input type="submit" value="Iniciar">
        </form>

        <div class="registrarse">
            <a href="indexAdmin.html">Quiero ingresar como administrador</a>
        </div>
        <div class="registrarse">
            <a href="index.html">Quiero ingresar como Cliente</a>
        </div>
    </div>
{% endblock content %}