{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div>
        <img src="{% static 'core/images/slider-img.png' %}"
        width="1200px" >
    </div>
    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="POST" action="" enctype="multipart/form-data" id="formLogin">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Iniciar">
        </form>
        {% comment %} <div class="recordar">¿Olvido su contraseña?</div> {% endcomment %}
        {% if mesg %}
            <div class="registrarse">
                <a href="indexAdmin.html">{{mesg}}</a>
            </div>
        {% endif %}
        <div class="registrarse">
            <a href="index.html">Quiero ingresar como Cliente</a>
        </div>
    </div>
{% endblock content %}