{% extends 'core/base.html' %}
{% load static %}

{% block content %}
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Nuestros servicios
        </h2>
      </div>
    </div>
    <div class="container ">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'core/images/s1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Mantención general
              </h4>
              <p>
                Realizamos una Mantención general a su vehículo
              </p>
              {% if user.is_authenticated %}
                <a href="{% url 'pagoServicio' %}">
                  Solicitar
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'iniciarSesion' %}">
                  Debe iniciar Sesión para Pedir un Servicio
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'core/images/s2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Reparación y reemplazo
              </h4>
              <p>
                Realizamos Reparación y reemplazo de piezas a su vehículo
              </p>
              {% if user.is_authenticated %}
                <a href="{% url 'pagoServicio' %}">
                  Solicitar
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'iniciarSesion' %}">
                  Debe iniciar Sesión para Pedir un Servicio
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 ">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'core/images/s3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Reparación y reemplazo de ruedas
              </h4>
              <p>
                Realizamos Reparación y reemplazo de ruedas a su vehículo
              </p>
              {% if user.is_authenticated %}
                <a href="{% url 'pagoServicio' %}">
                  Solicitar
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'iniciarSesion' %}">
                  Debe iniciar Sesión para Pedir un Servicio
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'core/images/s4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Alineación de las ruedas
              </h4>
              <p>
                Realizamos alineaciones a las ruedas de su vehículo
              </p>
              {% if user.is_authenticated %}
                <a href="{% url 'pagoServicio' %}">
                  Solicitar
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'iniciarSesion' %}">
                  Debe iniciar Sesión para Pedir un Servicio
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'core/images/s5.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Reparación del sistema de combustible
              </h4>
              <p>
                Realizamos Reparación del sistema de combustible a su vehículo
              </p>
              {% if user.is_authenticated %}
                <a href="{% url 'pagoServicio' %}">
                  Solicitar
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'iniciarSesion' %}">
                  Debe iniciar Sesión para Pedir un Servicio
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'core/images/s6.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h4>
                Afinar
              </h4>
              <p>
                Realizamos afinaciones a su vehículo
              </p>
              {% if user.is_authenticated %}
                <a href="{% url 'pagoServicio' %}">
                  Solicitar
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% else %}
                <a href="{% url 'iniciarSesion' %}">
                  Debe iniciar Sesión para Pedir un Servicio
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->
{% endblock content %}